# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Java
1. Python
1. C++
1. JavaScript
1. Scala
1. SQL
1. C
1. R

Some of the commonly used libraries used by Data Scientists include:

- TensorFlow
- PyTorch
- scikit-learn
- MySQL

| Number | Data Science Tools|
|-|-|
| 1 | Apache Spark |
| 2 | Tableau |
| 3 | RStudio | 
| 4 | JupyterLabs |

This is an example of arithmetic expressions:

In [21]:
x = 1
y = 7
z = x*3+y
print(z)

10

In [31]:
def convert(seconds):
    seconds = seconds % (24 * 3600)
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
     
    return "%d:%02d:%02d" % (hour, minutes, seconds)
     
n = 12780
print(convert(n))

3:33:00

Objectives:
1. Wake up
2. Eat breakfast
3. Workout
4. Shower
5. Get ready for work

Author: Brian T